* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration: underline double;
	background-color: #eee;
	color: #000;
}

.active {
	color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
}


.stdlf {
	font-weight: 700;border-bottom: 1px solid #777; margin-bottom: 1rem;
}

body {font-family: Roboto, sans-serif;}
h1 {font-size: 2.5rem; padding: 1rem;background-color: #333;text-align: center;font-family: 'Acme', Arial, sans-serif; color:#fff;}
h2 {font-size: 2rem; text-align: center}
h3 {font-size: 1.5rem; color: darkgreen;}
section {margin: 1rem auto; max-width: 960px; padding: .5rem;}
.container {display:grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); grid-gap: 25px;place-items: center;}

figure {background-color:#fff;}
img { width: 100%; height: auto; margin: .5rem;}
figcaption {font-size: smaller;}
/* hover effect */
.hover:hover {box-shadow: 0 0 50px #333;}
/* rounded corners - boxmodel */
.rocorn {border-radius: 15px 150px;}
/* simple opacity */

.opac {opacity: .5;}

.blur {filter: blur(4px);}

.gray {filter: blur(1px) grayscale(50%);}

.object {width: 100%; height: 75px ; object-fit: cover;}

.contrast {filter: contrast(50%);}

.saturate {filter: saturate(50%);}

.shape-outside {border-radius: 100px; width:35%; margin: 0 3em .5em 0; float:left; shape-outside: circle(50%);}

.mbm-difference{mix-blend-mode:difference;}

.mbm-hard-light{mix-blend-mode:hard-light;}

.transform {
	transform: scaleX(-1)
}

.turn {
	rotate: .05turn;
	border: 1px solid rgba(0,0,0,.3);
	padding: 1px;
}

.mosaic {
	position: relative;
	width: 90%;

}

.mosaic img {
	width: 100%;
	margin: 0;
}
		
.pic {
	background: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 7px;
	mix-blend-mode: lighten; /* try darken and overlay */
	position: absolute;
	top: 0;
	width: 100%;

}
.pic div {background: #000;	height: 18.5vw;	max-height: 640px;}

.pic div:nth-of-type(3), .pic div:nth-of-type(8), .pic div:nth-of-type(13)  {	grid-column: 3/5; }